# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#credentials
dsa-mcq-134aae86ec9e.json


# development
.env
.env.local
#*.csv
.vscode/

# Yarn lock
yarn.lock

# package-lock.json
package-lock.json
